# Игнорировать базу данных
bot_database.sqlite3

# Игнорировать файлы окружения
.env

# Игнорировать кэш Python
__pycache__/

# Игнорировать настройки IDE (если используешь, например, PyCharm или VSCode)
.idea/
.vscode/

# Игнорировать Docker артефакты (если вдруг)
*.log
*.pid

locales
docker-compose.yml
