aiogram==3.20.0
python-dotenv==1.0.1
aiohttp==3.10.11
pydantic==2.7.1
yookassa==3.5.0
pycountry==23.12.11
pydantic_settings
sqlalchemy[asyncio]==2.0.29
asyncpg==0.29.0
alembic==1.13.1
aiocryptopay==0.4.8
