aiogram==3.22.0
python-dotenv==1.1.1
aiohttp==3.13.0
pydantic==2.12.2
yookassa==3.7.1
pycountry==24.6.1
pydantic-settings==2.11.0
sqlalchemy[asyncio]==2.0.44
asyncpg==0.30.0
alembic==1.17.0
aiocryptopay==0.4.8
